.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
  margin-bottom: 4rem;
  margin-top: 1.25rem;
}

@media (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}